./02/00 setup
cv/icp02/.vs/icp02/v17/ipch/AutoPCH/e39a6251fa75906d/ICP02.ipch
cv/icp02/.vs/icp02/v17/Browse.VC.opendb
cv/icp02/.vs/icp02/v17/Browse.VC.db-wal
cv/icp02/.vs/icp02/v17/Browse.VC.db-shm
cv/icp02/.vs/icp02/v17/Browse.VC.db
cv/icp02/.vs/icp02/v17/.suo
cv/icp02/.vs/icp02/FileContentIndex/read.lock
cv/icp02/.vs/icp02/FileContentIndex/2874333d-dc9f-4bf0-9c37-2d2b06466a34.vsidx
02/00 setup/project_settings.txt
02/00 setup/opencv-4.6.0-vc14_vc15.exe
